@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f8fafc;
  color: #0f172a;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

html.dark body {
  background-color: #020617;
  color: white;
}
@import "tailwindcss";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}